body
  margin-top 60px

.hero-unit
  text-align center

  hgroup
    margin-bottom 30px
    h1
      font-size 80px

  h3
    margin-top 50px

  p
    font-size 20px

  .btn-large
    margin 15px 0 0 0
    padding 24px 40px
    font-size 30px

#fetching
  padding 4px 10px
  position absolute
  top 0px
  left 20px
  background #2C2C2C
  color #BCBCBC

  strong
    font-weight normal

  img
    margin 0 0 0 10px
